@import "component/reset.scss";
@import "component/navbar";
@import "pages/home.scss";
@import "base/mixin";
@import "base/colors";
@import "base/title";
@import "base/help_button";
@import "component/responsive.scss";

.header {
  width: 100%;
  height: 100vh;

  background: url(/Assets/images/res1.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-title {
    text-align: center;
    padding: 0 100px;
    color: $beyaz;

    h1 {
      font-size: 60px;
    }

    p {
      padding: 15px 40px;
      font-size: 18px;
      letter-spacing: 1px;
      margin-top: -20px;
    }

    .btn {
      background-color: $anarenk;
      color: $beyaz;
      font-size: 21px;
      font-weight: 600;
      text-decoration: none;
      padding: 10px 15px;
      @include border-radio(5px);
      @include transition(0.5s);

      &:hover {
        letter-spacing: 1px;
      }
    }
  }
}

.helpcards {
  padding: 0 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  .helpcard {
    width: calc(30% - 10px);
    background-color: rgba(233, 233, 233, 0.562);
    margin-left: 20px;
    overflow: hidden;
    padding: 10px;
    @include border-radio(5px);
    box-shadow: 3px 3px 20px 3px rgba(116, 116, 116, 0.5);
    @include transition(0.5s);

    &:hover {
      @include tranform(-10px);
      box-shadow: 5px 5px 20px 5px rgba(116, 116, 116, 0.5);
    }

    .imagebox {
      width: 100%;
      height: 200px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        @include transition(0.5s);

        &:hover {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
        }
      }
    }
  }
}

.partners {
  padding: 0 80px;
  display: flex;
  justify-content: left;
  align-items: center;

  .partner {
    width: calc(25% - 5px);
    text-align: center;

    h1 {
      color: rgb(112, 112, 112);
    }
  }
}

.Help_button {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $beyaz;
    background-color: $siyah;
    font-size: 23px;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 50px;
    @include border-radio(50px);
  }
}

//Footer Kullanım alanı

footer {
  background-color: $anarenk;
  padding: 30px;
  color: $beyaz;

  .footers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .footer {
      width: calc(33% - 10px);

      .logo {
        font-size: 40px;
        font-weight: 700;
      }

      p {
        letter-spacing: 1px;
        font-weight: 500;
      }

      h2 {
        text-align: center;
      }

      ul {
        li {
          list-style: none;
          padding-top: 10px;

          a {
            color: $beyaz;
            text-decoration: none;
          }

          &:first-child {
            padding-top: 0;
          }
        }
      }

      ol {
        li {
          list-style: none;
          padding-top: 10px;

          a {
            color: $beyaz;
            text-decoration: none;
          }

          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
  }

  .sociol_icon {
    text-align: center;

    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        list-style: none;
        margin-right: 15px;
        width: 32px;
        height: 32px;

        img {
          display: block;
          width: 100%;
          height: 100%;
          @include transition(0.8s);
          cursor: pointer;

          &:hover {
            transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
          }
        }
      }
    }

    h4 {
      padding: 0;
      margin-bottom: 0;

      a {
        cursor: pointer;
        color: $beyaz;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 750px) {
  .header {
    .header-title {
      text-align: center;
      padding: 0 10px;
      color: $beyaz;

      h1 {
        font-size: 30px;
      }

      p {
        padding: 15px 40px;
        font-size: 18px;
        letter-spacing: 1px;
        margin-top: -20px;
      }
    }
  }

  .helpcards {
    padding: 0 0px;

    .helpcard {
      width: calc(40% - 10px);
    }
  }

  .section-title {
    h1 {
      font-size: 30px;

      span {
        color: $anarenk;
        font-size: 40px;
      }
    }
  }
}

.partners {
  .partner {
    width: calc(52% - 10px);
  }

  footer {
    .footers {
      .footer {
        width: calc(50% - 10);
      }
    }
  }
}

@media (max-width: 400px) {
  .helpcards {
    padding: 0 0px;

    .helpcard {
      width: 100%;
    }
  }

  .partners {
    .partner {
      width: 100%;
    }
  }

  footer {
    .footers {
      .footer {
        width: 100%;
      }
    }
  }
  //Partnerler kısmı

  .partners {
    padding: 0 0;
    margin: 0;
    display: block;

    .partner {
      width: 100%;
      text-align: center;

      h1 {
        color: rgb(112, 112, 112);
        font-size: 60px;
      }
    }
  }
}
