@import "component/reset.scss";
@import "component/navbar";
@import "pages/home.scss";
@import "base/mixin";
@import "base/colors";
@import "base/title";
@import "base/help_button";

.header {
  width: 100%;
  height: 100vh;

  background: url(/Assets/images/res1.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-title {
    text-align: center;
    padding: 0 100px;
    color: $beyaz;

    h1 {
      font-size: 60px;
    }

    p {
      padding: 15px 40px;
      font-size: 18px;
      letter-spacing: 1px;
      margin-top: -20px;
    }

    .btn {
      background-color: $anarenk;
      color: $beyaz;
      font-size: 21px;
      font-weight: 600;
      text-decoration: none;
      padding: 10px 15px;
      @include border-radio(5px);
      @include transition(0.5s);

      &:hover {
        letter-spacing: 1px;
      }
    }
  }
}

.helpcards {
  padding: 0 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  .helpcard {
    width: calc(30% - 10px);
    background-color: rgba(233, 233, 233, 0.562);
    margin-left: 20px;
    overflow: hidden;
    padding: 10px;
    @include border-radio(5px);
    box-shadow: 3px 3px 20px 3px rgba(116, 116, 116, 0.5);
    @include transition(0.5s);

    &:hover {
      @include tranform(-10px);
    }

    .imagebox {
      width: 100%;
      height: 200px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        @include transition(0.5s);

        &:hover {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
        }
      }
    }
  }
}
