@media (max-width: 750px) {
  .header {
    .header-title {
      padding: 0 10000px;
      color: red;
    }
  }

  .helpcards {
    padding: 0 00px;

    .helpcard {
      width: calc(30% - 10px);
    }
  }
}
@media (max-width: 400px) {
}
//responsive yapıyordum
